@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+HK&family=Paytone+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Marcellus+SC&display=swap');


body{
    background-image: linear-gradient(to bottom,rgba(28,55,84), rgb(0,20,41));
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow-x: hidden;
}

#Vita{
    color: #fff;
    position: absolute;
    top: 10px;
    left: 20px;
    font-family: 'Marcellus SC', serif;
}

#title{
    color: #3f2c2c;
    font-family: 'Noto Sans HK', sans-serif;
    position: relative;
    top: 100px;
}

.container1{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #ffffff;
    height: 80vh;
    width: 40rem;
    border-radius: px;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 2px 2px 12px rgba(49, 44, 44, 0.651);
}

form{
    justify-content: center;
    display: flex;
    flex-direction: column;
    width: 90%;
    align-items: center;
}

.forminput{
    border-radius: 5px;
    margin: 10px;
}

input{
    width: 90%;
    padding: 0.7rem 2rem;
    background-color: #f3f3f3;
    border: none;
    outline: none;
    border-radius: 40px;
    border-color: #3f2c2c;
}

form{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.userinput{
    position: relative;
    margin: 0.5rem 0;
    width: 100%;
}

.userinput span{
    position: absolute;
    top: 10px;
    left: 11px;
    opacity: 0.8;
}

input:focus ~ label{
    width: 80%;
}

label{
    position: absolute;
    left: 48%;
    top: 100%;
    transform: translateX(-50%);
    width: 0%;
    height: 2px;
    background: #1a0b1a;
    transition: 0.3s;
}

#signinbutton{
    width: 90px;
    border-radius: 10px;
    border: none;
    background-color: rgb(70, 58, 82);
    color: #fff;
    height: 40px;
    margin: 20px;
}


#sup{
    color: rgb(43, 43, 126);
    cursor: pointer;
}


.container2{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    background-color: #ffffff;
    height: 80vh;
    width: 80vw;
    border-radius: px;
    padding: 20px;
    padding-left: 40px;
    padding-right: 40px;
    border-radius: 20px;
    box-shadow: 2px 2px 12px rgba(49, 44, 44, 0.651);
}

#titleRegister{
    position: absolute;
    top: 250px;
}

#personalize{
    font-size: 30px;
}

#callim{
    font-size: 15px;
    margin-left: 15px;
}

.preference{
    width: 100%;
    padding-left: 30px;
}

#calinput{
    padding-left: 20px;
    width: 100%;
    background-color: #f3f3f3;
    border: none;
    outline: none;
    border-radius: 40px;
    border-color: #3f2c2c;
}

.dropdownbtn{
    background-color: rgb(70, 58, 82);
    font-size: 16px;
    transition: 0.5s ease;
    color: #fff;
    border-radius: 10px;
    height: 40px;
    width: 98px;
    border: none;
}

#drop-down{
    position: absolute;
    text-decoration: none;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    font-size: 18px;
    color: rgb(70, 58, 82);
    border-radius: 10px;
    transition: 0.5s ease;
    display: none;
    width: fit-content;
    padding: 10px;
}


#drop-down li{
    list-style: none;
    height: 100%;
    padding: 0.3rem 0.5rem;
    cursor: pointer;
    transition: 0.5s ease-in-out;
    border-radius: 6px;
}

#drop-down li:hover{
    color: #000;
    background-color: rgba(0, 0, 0, 0.37);
}

.dropdownbtn:hover{
    background-color: rgba(0, 0, 0, 0.904);
}

#allergy{
    font-size: 15px;
    margin: 20px;
}

.allergies{
    display: inline-flex;
    gap: 1.5rem;
}

.radio{
    font-size: 20px;
    font-weight: 400;
    display: inline-block;
    vertical-align: middle;
}

.radio input[type="radio"]{
    display: none;
}


#signupbutton{
    width: 90px;
    border-radius: 10px;
    border: none;
    background-color: rgb(70, 58, 82);
    color: #fff;
    height: 40px;
    margin: 20px;
}

.ver{
    width: 2px;
    height: 60%;
    background-color: #00000056;
}










@media screen and (max-width: 700px) {
    .container1{
        width: 80vw;
        height: 70vh;
    }

    .container2{
        display: flex;
        flex-direction: column;
        width: 400px;
    }

    .drop-down{
        display: flex;
        flex-direction: row;
    }
}